body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column; /* Arrange content in a column */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    background-color: lightskyblue;
}

.hidden {
    display: none;
}

#computer-choice {
    display: flex;
    flex-direction: column; /* Arrange content in a column */
    align-items: center; /* Center items horizontally */
    margin-bottom: 20px; /* Add some space below computer choice */
}

#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game-content {
    display: flex;
    align-items: center; /* Center items horizontally */
    margin-bottom: 20px; /* Add some space between game and score content */
    gap: 5px;
}

#score-content {
    display: flex;
    flex-direction: column; /* Stack score divs vertically */
    align-items: center; /* Center items horizontally */
    color: aliceblue;
}

img {
    height: 50px; /* Set fixed height for images */
    width: 50px; /* Set fixed width for images */
}

#player-score, #computer-score {
    margin-top: 10px; /* Add some spacing between score items */
}

#restart {
    margin-top: 20px; /* Add some space above the restart button */
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#restart:hover {
    background-color: #d32f2f;
}
